.TextField {
  display: inline-block;
  width: 280px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.TextField--disabled {
  opacity: 0.6
}

.TextField__input {
  border: none;
  position: absolute;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  left: 12px;
  bottom: 13px;
}

.TextField__input:focus {
  outline: none;
}

.TextField__placeholder {
  position: absolute;
  left: 12px;
  bottom: 14px;
  color: #585858;
  transition: all 0.2s linear;
  pointer-events: none;
  font-weight: 500;
}

.TextField__placeholder--top,
.TextField__input:focus + .TextField__placeholder {
  font-size: 12px;
  transform: translateY(-20px);
}

.TextField__input:focus + .TextField__placeholder {
  color: #6202ee;
}

.TextField__label {
  display: inline-block;
  background-color: #d7d7d7;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #727272;
  box-sizing: border-box;
}

.TextField__underline {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #6202ee;
  transform: scaleX(0.0);
  transition: transform 0.2s linear;
}

.TextField__input:focus ~ .TextField__underline {
  transform: scaleX(1.0);
}
